@model IEnumerable<ProyectoLourtec2023.GestionPedido.UI.Models.ViewModels.VendedorViewModel>

@{
    ViewData["Title"] = "Vendedores";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}

<p class="welcome">Vendedores</p>


    <button class="boton-añadir" asp-action="CrearVendedor">
        <ion-icon name="add-circle-outline"></ion-icon>
        <span class="oculto">Añadir Vendedor</span>
    </button>
    
    

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
               Nombre
            </th>
            <th>
               Nro. De identificación
            </th>
            <th>
              Dirección
            </th>
            <th>
                Correo electrónico
            </th>
            <th>
                Número de teléfono
            </th>
            <th>
              Habilitado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                    <form asp-action="EditarVendedor">
                        <a class="btn btn-warning btn-sm"  value="EditarVendedor" asp-action="EditarVendedor" asp-route-id="@item.Id">
                            <ion-icon name="pencil-outline"></ion-icon>
                        </a>
                    </form> 
                   
                    <form asp-action="Delete">
                        <button class="btn btn-danger btn-sm" type="submit" value="Delete" asp-action="Delete" asp-route-id="@item.Id">
                            <ion-icon name="trash-outline"></ion-icon>
                        </button>
                    </form> 
                    
            </td>
        </tr>
}
    </tbody>
</table>
