@model ProyectoLourtec2023.GestionPedido.UI.Models.ViewModels.ClienteViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}


<div>
    <h4>Eliminar Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Razon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Razon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rif)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" placeholder="Eliminar cliente" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>

